body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", Oxygen,
    Ubuntu, Arial, sans-serif;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .image-container {
    margin-right: 20px;
  }
  .partner-button,
  .agent-button,
  .customer-button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
  }
  
  h1 {
    text-align: center;
  }

  .agent-button {
    background-color: #157142;

  }
  
  .customer-button {
        background-color: #0055FF;
  }

  .partner-button {
    background-color: orange;
}
