body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", Oxygen,
    Ubuntu, Arial, sans-serif;
}

.alert-container {
  font-size: .9em;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}

.navbar {
  background-color: #0055FF;
  min-height: 70px;
}

footer {
  font-size: 14px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: #0055FF;
  text-decoration: underline;
}
img{
  width: 30px;
  height: 30px;
}

.img2{
  width: 60px;
  height: 60px;
}