body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', Oxygen, Ubuntu,
    Arial, sans-serif;
}

/********** NAVBAR **********/
.navbar {
  background-color: transparent;
  transition: background-color 200ms ease;
  min-height: 70px;
}
.navbar.scrolled,
.navbar.expanded {
  background-color: #0055FF;
}

/********** HEADER **********/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../img/home-bg.jpg'); /* first layer is a gradient to darken the image a bit */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 100vh;
}
header .hero-content {
  height: 100vh;
  color: white;
}

.display-3 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.65rem;
}

button.btn {
  font-size: 1.1em;
}

/********** SECTION 2 **********/
#section-2 {
  min-height: 80vh;
}

.fa-check {
  font-size: 0.8em;
  color: rgb(12, 109, 189);
}
h3 {
  font-size: 2.25em;
  text-align: center;
  font-weight: 400;
}

.text-icon-card {
  max-width: 32rem;
}
.text-icon-card p {
  line-height: 1.9em;
}
h4 {
  font-weight: 300;
  font-size: 1.95em;
  letter-spacing: -0.2px;
}

.ico {
  color: #0055FF;
  margin: 0.4em;

  font-size: 3.5em;
}

/********** FOOTER **********/
footer {
  font-size: 14px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: #0055FF;
  text-decoration: underline;
}

/********** MEDIA & ANIMATION QUERIES **********/
@media (min-width: 992px) {
  /********** HEADER **********/
  .display-3 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  button.btn {
    font-size: 1.35em;
  }

  /********** SECTION 2 **********/
  h3 {
    font-size: 2.8em;
  }
  .ico {
    font-size: 3em;
  }
}img{
  width: 30px;
  height: 30px;
}

.img2{
  width: 60px;
  height: 60px;
}