body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', Oxygen, Ubuntu,
    Arial, sans-serif;
}

.alert-container {
  font-size: 0.9em;
  font-family: 'Inter', 'Segoe UI', 'Roboto', Arial, sans-serif;
}

.navbar {
  background-color:#0055FF;
  min-height: 70px;
}

.custom-vand {
  border: 1px solid #00000000;
  box-shadow: 4px 14px 2px rgba(0, 0, 0, 0.178);
  min-height: 60%;
  background-color: #fff;
}

footer {
  font-size: 14px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: #0055FF;
  text-decoration: underline;
}

img{
  width: 30px;
  height: 30px;
}

.img2{
  width: 60px;
  height: 60px;
}